[submodule "python_evm/vyper"]
	path = python_evm/vyper
	url = https://github.com/ethereum/vyper.git
[submodule "python_evm/web3.py"]
	path = python_evm/web3.py
	url = https://github.com/ethereum/web3.py
