[submodule "python_evm/vyper"]
	path = python_evm/vyper
	url = https://github.com/ethereum/vyper.git
[submodule "python_evm/python_evm"]
	path = python_evm/python_evm
	url = https://github.com/ethereum/web3.py
